{% extends "main.html" %}

{% block content %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">
    <!-- This is the topics column -->
    <div>
        <h3>Browse Topics</h3>
        <hr>
        <ul>
            <li>
                <a href="{% url 'home' %}">All</a>
            </li>

            {% for topic in topics %}
            <li>
                <!-- render topics and throw that topic to the url -->
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            </li>
            {% endfor %}
    </div>

    <!-- This is the channel column -->
    <div>
        <h3>{{channel_count}} channels available</h3>
        <h2><a href="{% url 'create-channel' %}">Create a new channel</a></h2>
        <div>
            {% for channel in channels %}
            <div>
                {% if request.user == channel.host %}
                <a href="{% url 'update-channel' channel.id %}">Edit</a>
                <a href="{% url 'delete-channel' channel.id %}">Delete</a>
                {% endif %}
                <span>@{{channel.host.username}}</span>
                <h3> {{channel.id}}--
                    <!-- this refers to url patterns in urls.py by the name tag -->
                    <a href="{% url 'channel' channel.id %}">
                        {{channel.name}}
                    </a>
                </h3>
                <p>{{channel.topic.name}}</p>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- This is the Recenet Activity column -->
    <div>
        <h3> Recent Activity</h3>
        <hr>
        {% for message in channel_messages %}
        <div>
            <small>@{{ message.user.username }} {{ message.created| timesince }} ago</small>
            <small>replied to "{{ message.channel.name }}"</small>
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}