{% extends "main.html" %}

{% block content %}
<h1>home template</h1>

<div>
    <a href="{% url 'create-channel' %}">Create a new channel</a>
    <div>
        {% for channel in channels %}
        <div>
            <span>@{{channel.host.username}}</span>
            <h3> {{channel.id}}--
                <!-- this refers to url patterns in urls.py by the name tag -->
                <a href="{% url 'channel' channel.id%}">
                    {{channel.name}}
            </h3>
            <p>{{channel.topic.name}}</p>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}